/**/*.suo
/**/*.user
/**/csx/
/**/obj/
/**/bin/
/**/Dist/
/**/*.Cache
/**/*.bim_*.settings
/_ReSharper.*/
/packages/
/TestResults/
/Build/TestUIReport/
node_modules
/SQL/**/*.dbmdl
entityframework_sql_log.txt
iTS.sln.GhostDoc.xml
Documentation/apidoc
.vs
.DS_Store